// adjustment vars
$footer-height: 80px;

// adjustment styles
body, html {
	font-size: 16px;
	width: 100%;
	height: 100%;
}

body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.maincontent {
	padding-bottom: 50px;
}

.container {
	margin: 0 auto;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

footer {
	min-height: $footer-height;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
	line-height: 1.42;
}
