include ../mixins/icons

doctype html
head
  include ../meta/common/head
body
    include index/sections/header
    
  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)
